/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styling */
#alert {
    cursor: pointer;
}

input:disabled {
    background-color: #f7fafc;
    opacity: 0.6;
}
